<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Cuenta</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body class="text-bg-dark">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h3>¡Hola, Eduardo!</h3>
        </div>
      </div>
      <div class="container">
        <h5>Por favor completa la siguiente información:</h5>
        <form action="/addEmployee" method="post">
          <div class="col-md-6">
            <label for="idE" class="form-label">Id de Empleado:</label>
            <input
              id="idE"
              name="idE"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="name" class="form-label">Nombre:</label>
            <input
              id="name"
              name="name"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="lastName" class="form-label">Apellido(s):</label>
            <input
              id="lastName"
              name="lastName"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="age" class="form-label"> Edad:</label>
            <input
              id="age"
              name="age"
              type="number"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">Correo electrónico:</label>
            <input
              id="email"
              name="email"
              type="email"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              id="password"
              name="password"
              type="password"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <label for="role" class="form-label">Rol:</label>
            <input
              id="role"
              name="role"
              type="text"
              class="form-control"
              required
            />
          </div>
          <div class="col-md-6">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
      <div class="row mt-5">
        <div class="col">
          <a
            class="btn btn-block btn-primary"
            className="discard"
            href="main"
            role="button"
            >Descartar cambios</a
          >
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
